*{
    margin: 0 auto;
    padding: 0 auto;
}
.bgd{
    background: url(./background.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position.:right center;
    background-attachment: scroll;
    height: 570px;
}
.nav1{
    color: #ffffff;
    opacity: 0.9;
    display: inline-flex;
    padding: 8px 12px 12px 12px;
    font-size: 19px;
    /* position: relative; */
    font-family: sans-serif;
    letter-spacing: 0.5px;    
    /* justify-content: flex-end; */
    margin-left: 880px;
}
.nav1>li{
    padding: 20px;
}
.heading{
    height: 60px;
    width: 280px;
    margin-top: 146px;
    margin-left: 620px;
    margin-bottom: 30px;
}
.sub-text{
    color: white;
    font-family: sans-serif;
    font-size: 36px;
    text-align: center;
    /* margin: 0 100px; */
    letter-spacing: 1px;
    font-weight: 1;
}
.body1{
    margin: 40px 425px 0 500px;
    display: inline-flex;
}
.bodytext1{
    font-size: 35px;
    letter-spacing: 1px;
    font-family: Helvetica;
    opacity: 0.9;
}
.indialogo{
    padding: 0 10px;
}
.indiatext{
    font-size: 35px;
    letter-spacing: 1.5px;
    font-family: Helvetica;
    font-weight:lighter;
}
.bodytext2{
    font-family:Helvetica;
    margin: 50px 220px;
    opacity: 0.65;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}
.restaurantCities {
    margin:15px 100px 15px 200px;
}
.restaurantCities>button{
    height: 66px;
    width: 353px;
    border-radius: 8px;
    border: 1.5px solid rgba(0,0,0,0.15);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px 0px;
    background-color: white;
    font-size: 20px;
    margin: 0 20px 40px 0;
    font-weight: 1;
    font-family: Helvetica;
}
.restaurantCities>button:hover{
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.25) 0px 3px 7px -3px; */
}
.restaurantCities>button img{
    float: right;
    padding: 23px 20px 23px 0;
    /* display: inline-flex; */
}
.restaurantCities>button p{
    /* display: inline-flex; */
    float: left;
    padding: 19px 0 20px 20px;
    opacity: 0.9;
}
.bodytext3{
    font-size: 32px;
    font-family: sans-serif;
    letter-spacing: 1px;
    opacity: 0.9;
    margin:15px 100px 15px 0px;
}
.countries>button{
    height: 66px;
    width: 353px;
    border-radius: 8px;
    /* border: none; */
    border: 1.5px solid rgba(0,0,0,0.15);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px 0px;
    background-color: white;
    margin: 0 20px 40px 0;
}
.countries>button:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.25) 0px 3px 7px -3px;
}
.img1{
    height: 30px;
    width: 40px;
    float: left;
    padding: 16px 0 19px 20px;
    /* display: inline-flex; */
}
.img2{
    float: right;
    padding: 23px 20px 23px 0;
    /* display: inline-flex; */
}
.countries > button p{
    padding: 20px 0 20px 7px;
    font-weight: 400;
    font-size: 20px;
    font-family:sans-serif;
    opacity: 0.8;
    /* display: inline-flex; */
    float: left;
}
.footer{
    height: 500px;
    width: 100%;
    background-color: rgb(248, 248, 248);
    margin-top: 35px;
    display: flex;
}
.f1{
    display: block;
}
.zomatotext{
    margin-top: 60px;
    height: 40px;
    width: 120px;
    /* display: inline-flex; */
    margin-left: 115px;
}
.countryBtn{
    height: 40px;
    width: 120px;
    border-radius: 10px;
    /* border: none; */
    background-color: rgb(248, 248, 248);
    border: 1px solid rgba(0,0,0,0.4);
    display: flex;
    margin-left: 545px;
}
.ul1{
    margin-top: 60px;
    display:  inline-flex;
    margin-left: 115px;
}
.footerImg1{
    height: 20px;
    width: 30px;
    padding: 8px 3px;
    /* justify-content: center; */
    /* display: flex; */
}
.ul1 li p{
    font-size: 18px;
    font-family:sans-serif;
    opacity: 0.8;   
    font-weight: 400;
    padding: 8px 2px;
    /* font-weight: 1; */
}
.languageBtn{
    height: 40px;
    width: 120px;
    border-radius: 10px;
    border: none;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgba(0,0,0,0.4);
    display: flex;
    margin-left: 15px;
}
.footerImg2{
    height: 20px;
    width: 20px;
    padding: 9px 6px;
    /* justify-content: center; */
    /* display: flex; */
}
.postion {
    margin-top: 50px;
    display: flex;
    margin-left: 35px;
}
.abtZomato > li,.zomaverse > li,.learn >li, .forRestau >li {
    font-family:Helvetica;
    font-size: 16px;
    opacity: 0.6;
    padding-bottom: 10px;
}
.a1{
    font-family:Helvetica;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2px;
    padding-bottom: 12px;
}
.abtZomato, .zomaverse, .forRestau,.learn{
    padding-right:0px;
}
.zomaverse+ ul li{
    font-family:Helvetica;
    font-size: 14px;
    opacity: 0.6;
    padding-bottom: 10px;
}
.links{
    padding-right: 100px;
    padding-bottom: 18px;
}
.browser{
    padding-bottom: 8px;
    height: 40px;
    width: 150px;
}
.line{
    padding:20px 0;
    margin:0 100px 0 100px;
    /* border-bottom: 1.6px solid #d6cfcf; */
}
.footertext{
    opacity: 0.7;
    font-family: Helvetica;
    font-size: 13px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
    letter-spacing: 0.3px;
    margin: 0 100px 0 100px;
    line-height: 20px;
    border-top:1.6px solid #d6cfcf
}